@keyframes pulse{
  0% {
    transform: translateY(0);
  } 
  100% {
    transform: translateY(15px);
  }
}
@keyframes changeBg{
 0% {
   opacity: 0.2;
 }
 5% {
   opacity: 0.5;
 }
 15% {
   opacity: 0.2;
 }
 19% {
   opacity: 1;
 }
 25% {
   opacity: 0.3;
 }
 39% {
   opacity: 0.2;
 }
 45% {
   opacity: 0.9;
 }
 50% {
   opacity: 0.2;
 }
 75% {
   opacity: 0.5;
 }
 90% {
   opacity: 0.3;
 }
 100% {
   opacity: 1;
 }
}
@keyframes fadeOutBg{
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.3;
  }
  15% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.9;
  }
  39% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes transformBeforeImg {
  10%, 40%, 50%, 65%, 70%, 85%, 90% {
    --left: 0;
  }
  20% {
    --left: 0.5;
  }
  30% {
    --left: 0.4;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.6;
    --v-height: 25%;
    --top: 6;
  }
  75% {
    --left: 0.3;
    --v-height: 5%;
    --top: 8;
  }
  80% {
    --left: 0.7;
    --v-height: 15%;
    --top: 4;
  }
  100% {
    --left: 0.85;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes shiftSign {
  0% {
    fill: #655f61;
  }
  50% {
    fill: #190f36;
  }
  100% {
    fill: #655f61;
  }
}
@keyframes smoothBgTransition {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  30% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
html {
  height: 100%;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'JetBrains Mono',monospace, Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.front-field-container {
  position: relative;
  z-index: 1;
}
.header {

}
.main {
  /* height: 100%; */
}
.main-landing {
  /* height: 100%; */
  min-height: 100vh;
  background-size: cover;
  background-image: url(https://giffiles.alphacoders.com/211/211931.gif);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.main-landing .content-para {
  color: #DD1D4A;
  position: relative;
  z-index: 1;
}
.landing-heading {
  font-size: 80px;
  /* overflow: hidden; */
  /* min-width: 145%; */
  margin: 0 0 70px 0 ;
  color: #DD1D4A;
  position: relative;
  z-index: 1;
  text-shadow: 0px 0px 15px #dd1d4a, 0px 0px 20px #dd1d4a;
}
.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.main-content {
  /* min-height: 100%; */
  /* background-color: red; */
}
.landing-scroll-btn {
  background-color: rgba(0,0,0,0);
  border: none;
  position: relative;
  z-index: 1;
  outline: none;
  cursor: pointer;
}
.landing-scroll-btn img {
  max-width: 30px;
  animation: 1.3s ease-in-out 0.8s infinite alternate pulse;
}
.content-para {
  margin: 0;
}
.main-content {
  --bg-color: #190f36;
  background-color: var(--bg-color);
  /* background-image: url('https://i.pinimg.com/originals/0f/88/3e/0f883e6f5db348671c1e26a7dfd2e5f3.gif'); */
  /* background-image: url('https://wtop.com/wp-content/uploads/2020/07/MW-SUMMER-TRIANGLE-BM.jpg'); */
  /* background-image: url('https://images.wallpapersden.com/image/download/cyberpunk-2077-samurai_bGpqa2mUmZqaraWkpJRnbWllrWdtaWU.jpg'); */
  background-size: cover;
  padding: 230px 0 130px 0;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.content-headline {
  /* margin: 0 calc((100% - 1375px)/2) 48px; */
  margin: 0 0 54px 0;
  font-size: 40px;
  line-height: 1.3;
  /* padding: 90px 0 0 0; */
  color: #e9f031;
  text-shadow: 0px 0px 10px #f7db22, 0 0 40px #f7db22;
}
.content-para {
  color: #e9f031;
  text-shadow: 0px 0px 10px #f7db22, 0 0 40px #f7db22;
  line-height: 2;
  /* margin: 0 calc((100% - 1375px)/2) */
}
.content-cards {
  margin: 128px 0 128px 0;
  display: flex;
  justify-content: space-between;
}
.content-card {
  min-height: 350px;
  min-width: 250px;
  position: relative;
  background-image: url('https://www.gamesatlas.com/images/cyberpunk2077/styles/Cyberpunk2077-Styles-Neokitsch.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: 2px solid #24b6d0;
  box-shadow: 0px 0px 5px #06dbd8;
  border-radius: 25px;
  transform-style: preserve-3d;
  /* transition: transform 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99); */
  transition: box-shadow 0.5s ease;
}
.content-card:hover {
  box-shadow: 0px 0px 35px #06dbd8;
  transform: scale(1.15);
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 15, 54, 1);
  transition: background-color 0.5s ease-in-out;
  border-radius: 25px;
}
.content-card:hover .card-overlay {
  background-color: rgba(25, 15, 54, 0.65);
}
.content-card .card-heading,  .content-card .card-para {
  text-shadow: 0px 0px 0;
  color: #06dbd8;
  transition: text-shadow 0.5s linear;
  transform: translateZ(50px);
}
.content-card .card-heading {
  transition: transform 0.5s linear;
}
.content-card:hover .card-heading {
  transform: translateY(-350%) translateZ(50px);
}
.content-card .card-para {
  max-width: 180px;
  font-size: 14px;
  /* display: none; */
  /* visibility: hidden; */
  /* height: 0; */
  position: absolute;
  opacity: 0;
  transition:  opacity 0.3s linear, visibility 0s linear;
}
.content-card:hover .card-para {
  /* display: block; */
  /* visibility: visible; */
  /* height: auto; */
  opacity: 1;
  transition-delay: 0s;
}
.content-card:hover .card-heading,  .content-card:hover .card-para {
  text-shadow: 0px 0px 10px #28f9ff, 0 0 40px #28f9ff, 0 0 60px #28f9ff;
}
.button-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 60%);
  background-color: #28f9ff;
  border: 2px solid #28f9ff; 
  position: relative;
  z-index: 1;
  transition: transform 0.5s linear;
}
.button-wrapper:hover .card-button {
  background-color: #28f9ff;
  box-shadow: 0px 0px 30px #28f9ff, 0 0 40px #28f9ff, 0 0 60px #28f9ff;
  color: black;
}
.content-card:hover .button-wrapper {
  transform: translateY(180%) translateZ(50px);
  box-shadow: 0 0 35px #28f9ff;
}
.card-button {
  position: relative;
  z-index: 1;
  padding: 15px 45px;
  /* border-radius: 20px; */
  /* background-color: rgba(0,0,0,0); */
  background: rgba(25, 15, 54, 1);
  color: #28f9ff;
  outline: none;
  border: none;
  /* border: 2px solid #28f9ff; */
  cursor: pointer;
  transition: box-shadow 0.5s linear, text-shadow 0.5s linear, transform 0.5s linear;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 60%);
}
/* .card-button::after {
  content: "> > >";
} */
.content-card:hover .card-button {
  box-shadow: 0 0 25px #28f9ff;
  text-shadow: 0 0 20px #28f9ff;
}
.card-rebel-path {
  background-image: url('https://www.gamesatlas.com/images/cyberpunk2077/styles/Cyberpunk2077-Styles-Kitsch.jpg');
  border: 2px solid #dcd787;
  box-shadow: 0px 0px 5px #f7db22;
  transition: box-shadow 0.5s linear;
  border-radius: 25px 0 25px 0;
}
.card-rebel-path .card-overlay {
  border-radius: 25px 0 25px 0;
}
.card-rebel-path:hover {
  box-shadow: 0px 0px 35px #f7db22;
  transform: scale(1.15);
}
.card-rebel-path  .card-heading, .card-rebel-path .card-para{
  color: #f7db22;
}
.card-rebel-path  .card-heading {
  transition: transform 0.5s linear;
}
/* .card-rebel-path:hover .card-heading {
  transform: translateY(-350%);
} */
.card-rebel-path:hover .card-heading, .card-rebel-path:hover .card-para  {
  text-shadow: 0px 0px 10px #f7db22, 0 0 40px #f7db22, 0 0 60px #f7db22;
}
.card-rebel-path .button-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 60%);
  background-color: #f7db22;
  border: 2px solid #f7db22; 
}
.card-rebel-path .button-wrapper:hover .card-button {
  background-color: #f7db22;
  color: black;
}
.card-rebel-path .card-button {
  position: relative;
  z-index: 1;
  padding: 15px 45px;
  /* border-radius: 20px; */
  /* background-color: rgba(0,0,0,0); */
  background: rgba(25, 15, 54, 1);
  color: #f7db22;
  outline: none;
  /* border: 2px solid #f7db22; */
  cursor: pointer;
  transition: box-shadow 0.5s linear, text-shadow 0.5s linear, transform 0.5s linear;
}
.card-rebel-path:hover .card-button {
  box-shadow: 0 0 25px #f7db22;
  text-shadow: 0 0 20px #f7db22;
}
.card-corpo-path {
  background-image: url('https://www.gamesatlas.com/images/cyberpunk2077/styles/Cyberpunk2077-Styles-Neomilitarism.jpg');
  border: 2px solid #a2166f;
  box-shadow: 0px 0px 5px #da1e89;
  transition: box-shadow 0.5s linear;
  border-radius: 0 25px 0 25px;
}
.card-corpo-path .card-overlay {
  border-radius: 0 25px 0 25px;
}
.card-corpo-path .card-heading, .card-corpo-path .card-para{
  color: #cd256a;
}
.card-corpo-path:hover {
  box-shadow: 0px 0px 35px #da1e89;
  transform: scale(1.15);
}
.card-corpo-path:hover .card-heading, .card-corpo-path:hover .card-para {
  text-shadow: 0px 0px 10px #cd256a, 0 0 40px #cd256a, 0 0 60px #cd256a;
}
.card-corpo-path .button-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 60%);
  background-color: #cd256a;
  border: 2px solid #cd256a; 
}
.card-corpo-path .button-wrapper:hover .card-button {
  background-color: #cd256a;
  color: black;
}
.card-corpo-path .card-button {
  position: relative;
  z-index: 1;
  padding: 15px 45px;
  /* border-radius: 20px; */
  /* background-color: rgba(0,0,0,0); */
  background: rgba(25, 15, 54, 1);
  color: #cd256a;
  outline: none;
  /* border: 2px solid #cd256a; */
  cursor: pointer;
  transition: box-shadow 0.5s linear, text-shadow 0.5s linear, transform 0.5s linear;
}
.card-corpo-path:hover .card-button {
  box-shadow: 0 0 25px #cd256a;
  text-shadow: 0 0 20px #cd256a;
}
.card-heading, .card-para {
  margin: 0 0 24px 0;
  position: relative;
  z-index: 1;
}
.card-img {
  /* width: 100%; */
  max-width: 240px;
  display: none;
}
.content-card:hover .card-img {
  display: block;
}
.para-hover:hover {
  /* color: #eb1024; */
  text-shadow: 0px 0px 15px #f7db22, 0px 0px 45px #f7db22, 0px 0px 65px #f7db22;
}
.content-samurai-path {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('https://i.pinimg.com/originals/7d/a9/66/7da9666eec2f65d04ee206b06d588699.png'); */
  opacity: 0;
  background-size: cover;
  /* transition: opacity 3s linear; */
  /* animation: changeBg 2s 1 normal; */
}
.content-samurai-path::after, .content-samurai-path::before {
  --left: 0;
  --top: 0;
  --v-height: 30%;
  --f-size: 15;

  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  
  content: url("https://www.modscyberpunk2077.com/wp-content/uploads/2020/12/samurai-logo-as-icon-for-cyberpunk-2077-1.png");
  position: absolute;
  /* margin-bottom: 75px; */
  margin-top: 205px;
  transform: translateX(calc(var(--left)* 10%));

  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
.content-samurai-path::after {
  animation: transformBeforeImg 3s infinite alternate-reverse;
}
.content-samurai-path::before {
  animation: transformBeforeImg 3s infinite reverse;
}
.samurai-path-img {
  /* margin-bottom: 80px; */
  max-width: 500px;
  margin-top: 210px;
}
/* .para-hover:hover .content-samurai-path {
  opacity: 1;
} */
.silverhand-path {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.silverhand-path .card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  min-width: 175px;
  font-size: 16px;
}
.silverhand-path .card-button span {
  display: flex;
}
.silverhand-path-svg {
  max-width: 30px;
}
.silverhand-path-svg .one, .silverhand-path-svg .two, .silverhand-path-svg .three {
  fill: #28f9ff;
}
.silverhand-path .button-wrapper:hover {
  background-color: #fd0100;
  border: 2px solid #fd0100;
}
.silverhand-path .button-wrapper:hover .card-button {
  /* border: 2px solid #dd1d4a; */
  background-color: #fd0100;
}
.silverhand-path .button-wrapper:hover .silverhand-path-svg .one {
  animation: shiftSign 1s infinite 0.3s alternate;
}
.silverhand-path .button-wrapper:hover .silverhand-path-svg .two {
  animation: shiftSign 1s infinite 0.2s alternate;
}
.silverhand-path .button-wrapper:hover .silverhand-path-svg .three {
  animation: shiftSign 1s infinite 0.1s alternate;
} 
.footer {
  position: relative;
  background-color: #d13f60;
  padding: 36px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper-span {
  color: #06dbd8;
  font-size: 18px;
  /* text-shadow: 0px 0px 10px #28f9ff, 0 0 40px #28f9ff, 0 0 50px #28f9ff; */
}
.footer .footer-heading {
  margin-top: 0;
  color: #e9f031;
  text-shadow: 0px 0px 10px #f7db22, 0 0 40px #f7db22;
}
.footer-wrapper-navigation {
  min-height: 140px;
}
.footer-wrapper-navigation-heading {
  color: #e9f031;
  text-shadow: 0px 0px 10px #f7db22, 0 0 40px #f7db22;
  margin: 0;
}
.footer-wrapper-map-list {
  margin: 20px 0 0 0;
}
.footer-wrapper-map-list-element {
  color: #06dbd8;
  font-size: 18px;
  /* text-shadow: 0px 0px 35px #06dbd8; */
}
.footer-wrapper-map-list-element:hover {
  text-shadow: 0px 0px 15px #06dbd8, 0px 0px 35px #06dbd8;
}
.footer-wrapper-map-list-element-anchor {
  color: #06dbd8;
}
.footer .footer-list {
  margin: 20px 0 0 0;
  display: flex;
}
.footer-list-element {
  position: relative;
}
.footer-list-element:not(:last-of-type) {
  margin-right: 25px;
}
/* .footer-list-element:hover {
  color: #06dbd8;
  text-shadow: 0px 0px 10px #28f9ff, 0 0 40px #28f9ff, 0 0 60px #28f9ff;
} */
.footer-list-element .logo {
  font-size: 40px;
  position: relative;
  color: #252625;
  transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}
.footer-list-element::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  position: absolute;
  top: -2px;
  left: 0;
  font-size: 40px;
  height: 0;
  overflow: hidden;
  /* z-index: 2; */
  border-bottom: 2px solid transparent;
  transition: height 0.5s ease-in-out;
}
.footer-list-element:nth-child(1)::before {
  content: '\f3fe';
  /* color: #06dbd8; */
  /* border-bottom: 2px solid transparent; */
}
.footer-list-element:nth-child(2)::before {
  content: '\f189';
  /* color: #06dbd8; */
  /* border-bottom: 2px solid #06dbd8; */
}
.footer-list-element:nth-child(3)::before {
  content: '\f099';
  /* color: #06dbd8; */
  /* border-bottom: 2px solid #06dbd8; */
}
.footer-list-element:nth-child(4)::before {
  content: '\f09b';
  /* color: #06dbd8; */
  /* border-bottom: 2px solid #06dbd8; */
}
.footer-list-element:hover::before {
  height: 100%;
}
/* .footer-list-element:hover .logo {
  color: #06dbd8;
  text-shadow: 0px 0px 10px #28f9ff, 0 0 40px #28f9ff, 0 0 50px #28f9ff;
} */
.footer-list-element:nth-child(1):hover::before {
  border-bottom: 2px solid #33adff;
}
.footer-list-element:nth-child(1):hover .logo, .footer-list-element:nth-child(2):hover .logo {
  color: #1e96c8;
}
.footer-list-element:nth-child(2):hover::before {
  border-bottom: 2px solid #33adff;
  /* color: #1e96c8; */
}
.footer-list-element:nth-child(3):hover .logo {
  color: #33adff;
}
.footer-list-element:nth-child(3):hover::before {
  border-bottom: 2px solid #33adff;
}
.footer-list-element:nth-child(4):hover .logo {
  color: #33adff;
}
.footer-list-element:nth-child(4):hover::before {
  border-bottom: 2px solid #33adff;
}
/* .footer-list-element .footer-anchor {
  color: ;
} */